In [21]:
import numpy as np
import pandas as pd

In [22]:
dataset = pd.read_csv('car_fuel_efficiency.csv')

In [23]:
dataset.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [24]:
dataset.shape

(9704, 11)

In [25]:
dataset.fuel_type.value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [26]:
dataset.fuel_type.unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [27]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

In [28]:
dataset[dataset["origin"] == "Asia"]["fuel_efficiency_mpg"].max()

23.759122836520497

In [29]:
hp_median = dataset.horsepower.median()
hp_median

149.0

In [30]:
hp_mode = dataset.horsepower.mode()[0]
hp_mode

np.float64(152.0)

In [31]:
hp_fillna_mode = dataset.horsepower.fillna(hp_mode)

In [32]:
hp_fillna_mode.median()

152.0

In [35]:
# Select all the cars from Asia, only vehicle_weight and model_year columns, first 7 values
X = dataset[dataset["origin"] == "Asia"][["vehicle_weight", "model_year"]].head(7).values

# Compute XTX
XTX = X.T @ X

# Invert XTX
XTX_inv = np.linalg.inv(XTX)

# Create y array
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# Compute w
w = XTX_inv @ X.T @ y

# Sum of all elements in w
w_sum = w.sum()
w_sum

np.float64(0.5187709081074025)